@keyframes loading-slide {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
  
  .animate-loading-slide {
    animation: loading-slide 1.5s infinite ease-in-out;
  }
  
.app-shell {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #1800AD; 
  cursor: none;
  }
  
  .main-content {
    flex: 1;
    width: 100%;
  }
  
  .fixed-signature {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    pointer-events: none;
    animation: fadeIn 1s ease-in-out;
  }
  
  .fixed-signature p {
    color: rgba(255, 255, 255, 0.815);
    font-size: 10px;
    letter-spacing: 0.5em;
    text-transform: lowercase;
    white-space: nowrap;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .contact-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 5;
    margin-left: 4px;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 0.9rem;
    transition: opacity 0.3s;
}

.contact-link:hover {
    opacity: 0.5;
}