/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@keyframes loading-slide {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
  
  .animate-loading-slide {
    animation: loading-slide 1.5s infinite ease-in-out;
  }